@inherits LayoutComponentBase

<div class="testbed-shell">
    <header class="testbed-topbar">
        <h1>MetalNexus Testbed</h1>
        <AuthBar />
    </header>
    <div class="testbed-body">
        @Body
    </div>
</div>
